<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/static/styles/login.css">
</head>
<body>
    <nav class="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <!-- <li><a href="/login">Login</a></li> -->
            <!-- <li><a href="/register">Register</a></li> -->
             <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container2">
        <div class="box2">
            <p>user name : {{user_name}}</p>
            <p>user id : {{id}}</p>
            <p>user email : {{email}}</p>
        </div>
    </div>
    <!-- <a href="/logout"><button>logout</button></a> -->
</body>
</html>