<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/styles/login.css">
</head>
<body>
    <nav class="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <form class="container" action="/register" method="POST">
<div class="big_box">
    <div class="box">
        <div class="input">
            <label for="email">Email</label>
            <input type="email" placeholder="Enter your email" id="email"  name="email" required>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" id="password"  name="password" required>
        </div>
        <div class="input">
            <label for="user_name">User Name</label>
            <input type="text" placeholder="Enter your user name" id="user_name"  name="user_name" required>
        </div>
    </div>
    <button type="submit" class="submit">submit</button>
</div>
    </form>
    
    <script>
        
        
    </script>
</body>
</html>