<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day-1</title>

    <style>
        body {
            background-color: rgb(36, 34, 34);
            font-family: Arial, sans-serif;
            color: white;
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body >
{{name}}

    hello world
    {% for f in fruits %}
    <p>{{f.name}}</p>
    {% endfor %}

    <form action="/add/data" method="POST">

        <input type="text" name="fruit" placeholder="Enter your a fruit">
        
        <input type="submit" value="Submit">
    </form>
</body> 
</html>